.buttons-line {
  margin-top: 2%;
  margin-bottom: 2%;
}

#btn-add-member {
  margin-right: 20px;
}

#form-search-member {
  margin-left: 20px;
  box-sizing: border-box;
}

#input-search-member {
  margin-right: 0px;
}

#btn-search-member {
  float: left;
  margin-left: 0%;
  box-sizing: border-box;
}

.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover {
  background-color: #008cba;
}

/* Buscador 
-------------------------------------------------- */
